@media screen and (max-width: 1024px) {
  .main__grid {
    display: block;
  }

  .news__column {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
   
  .news__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 10px 0;
    border-bottom: none;
  }

  .sidebar__email-subscribe {
    margin: 0 0 80px 0;
  }

  .email-subscribe__title {
    padding: 0 148px;
    text-align: start;
  }

  .subscribe__form {
    display: flex;
    padding: 0 148px;
  }

  .email-subscribe__input {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 320px) {

}